/* Make the content fill the full width */
.container-fluid {
  max-width: 100% !important;
  padding-left: 10;
  padding-right: 10;
}

body, p {
  font-family: "Calibri";
  color: #333333; /* text. Diamond Age not-quite-black */
}

h1.title {
  font-family: "Marcellus";
  color: dodgerblue4; /*#265C2D;*/
  font-size: 50px; /* Change size for H1 */
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Marcellus";
  color: dodgerblue4; /*#265C2D;*/
}

.email {
  color: #333333;
}

.list-group-item{
  font-family: "Marcellus";
  font-size: 20px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #00BFFF;
}

.btn-rcode {
    background-color: #00BFFF;
    color: white;
}

  #TOC {
    max-width: fit-content;
    white-space: nowrap;
    max-height: calc(100vh - 50px); /* Limit TOC height to fit in the viewport */
  }
  

