
body, p {
  font-family: "Calibri";
  color: #333333; /* text. not-quite-black */
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Marcellus";
  color: dodgerblue4; /*#265C2D;*/
}

.email {
  color: #00BFFF;
}

.list-group-item{
  font-family: "Arial";
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #00BFFF;
}

.btn-rcode {
    background-color: #00BFFF;
    color: white;
}
